{% extends 'templates/base.html' %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block section_title %} Create Project {% endblock %}

{% block content %}
	<div style="margin-left: 120px">
		<h3>Have an Idea?</h3>
	</div>
	
	{% crispy create_form %}
{% endblock %}
