{% extends "templates/base.html" %}
{% load url from future %}

{% block content %}
<form method="post" action=".">
  {{ form.as_p }}
  {% csrf_token %}
  <input type="submit" value="Log in" />
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% else %}
  <input type="hidden" name="next" value="{% url 'index' %}" />
  {% endif %}
</form>

{% endblock %}
