<!DOCTYPE html>
{% load url from future %}
<html lang="en">
  <head>
    <title>Idea | {% block section_title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" media="screen" />
  </head>
  
  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    <!-- Nav Bar -->
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
	<a class="brand" href="{% url 'index' %}">Ideas</a>
	<ul class="nav">
	  <li class="active">
	    <a href="{% url 'index' %}">Projects</a>
	  </li>
	</ul>
	<ul class="nav pull-right">
	  {% if user.is_authenticated %}
	  <li>
	    <a href="{% url 'auth_logout' %}">Log out</a>
	  </li>
	  {% else %}
	  <li>
	    <a href="{% url 'auth_login' %}">Log in</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </div>
    <!-- Main Page Content -->
    <div class="container">
      <!-- Page Header -->
      <header class="jumbotron subhead">
	<div class="row">
	  <div class="span12">
	    <h3>{% block page_title %}{% endblock %}</h3>
	  </div>
	</div>
      </header>
      <!-- Main Page Content -->
      <section id="main_content">    	
	<div class="row">
	  <div class="span12">
	    {% block content %}{% endblock %}
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
